.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-header h1{
  display:inline;
  font-family: 'Rancho', cursive;
  font-size: 60px;
  margin: 0 5em;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

button:focus {
  outline: none;
}

.hide {
  display: none;
}

.wager-button {
  border-radius: 50%;
  width: 3em;
  height: 3em;
  background-color: darkgreen;
  color: white;
  font-size: 24px;
}

.wager-amount {
  font-size: 20px;
  margin: 0 2em;
}

.player-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#deal-cards-button {
  margin-top: 2em;
}

.pink {
  border: 1px solid pink;
}

.blue {
  border: 1px solid blue;
}

.card-wrapper {
  width: 15%;
  height: 70%;
}

.card-image {
  height: 100%;
  width: 350%;
}

.hand-wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.game-wrapper {
  height: 100%;
}

.wager-wrapper {
  width: 100%;
}

.player-wrapper {
  display:flex;
  flex-direction:column-reverse;
  outline: black 1px solid;
  height: 400px;
  width: 300px;
  font-family: 'Days One', sans-serif;
}

.players-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.actions-wrapper {
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.hit-button {
  background-color: #22AA22;
}

.stay-button {
  background-color: #aa7700;
}

.success-button {
  background-color: #22AA22;
  padding: .5em 3em;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
