.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-header h1{
  display:inline;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.player-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.player-wrapper {
  display:flex;
  flex-direction:column-reverse;
  outline: black 1px solid;
  height: 400px;
  width: 300px;
}

.pink {
  background-color: pink;
}

.blue {
  background-color: blue;
}

.game-wrapper {
  height: 100%;
}

.players-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.success-button {
  background-color: #22AA22;
  padding: .5em 3em;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
